header a {
    position: absolute;
    top: 550px;
    left: 100px;
    text-decoration: none;
    color: var(--color-grey-6);
    padding: 12px 50px;
    border-radius: 0.5rem;
    background-color: var(--color-brand-1);
    cursor: pointer;
}
.submit-btn {
  margin-top: 2rem;
  margin-right: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  width: 150px;
  height: 38px;
  color: var(--color-grey-6);
  font-size: var(--text-2);
  background-color: var(--color-brand-1);
  border-radius: 0.5rem;
  border: 2px solid var(--color-brand-1);
  cursor:pointer
}
@media(max-width: 991px){
    .submit-btn {
      margin: 0 auto;
      width: 100%;
    }
  }